/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #37373F;
    color: #333;
}

/* Estilos para o cabeçalho */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: #37373F;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.usuario-info {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.usuario-info.hidden {
    display: none;
}

#logout-btn {
    margin-left: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#logout-btn:hover {
    background-color: #d32f2f;
}

.logo img {
    max-height: 35px; /* Ajuste o tamanho da logo */
}

nav {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-right: 145px;  /* Ajuste o valor conforme necessário para mover mais ou menos */

    height: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    text-transform: uppercase;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffd700;
}

/* Estilo do botão "Entrar" */
.entrar button {
    background-color: #ffd700;
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.entrar button:hover {
    background-color: #927f01;
}

/* Seções */
.section {
    padding: 60px 20px;
    text-align: center;
}

/* titulos h2 */
.text-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000000; /* Cor escura para o título */
    margin-bottom: 20px; /* Espaço abaixo do título */
}

/* Estilo da Seção Início com Imagem de Fundo */
#inicio {
    background-image: url('https://img.freepik.com/fotos-premium/escalas-de-justica-no-escuro-conceito-de-direito-do-tribunal-de-justica-de-jurisprudencia-judiciaria-e-ia-generativa-de-justica_438099-12423.jpg?w=1060'); /* Substitua 'caminho-da-imagem.jpg' pelo caminho da sua imagem */
    background-size: cover; /* A imagem cobre toda a seção */
    background-position: center; /* Centraliza a imagem */
    background-attachment: fixed; /* Efeito de paralaxe em desktop */
    color: #fff; /* Deixa o texto branco para melhorar a visibilidade sobre a imagem */
    padding: 80px 40px;
    text-align: center;
    height: 500px;
}

/* Ajuste para melhorar o contraste do texto */
#inicio h1, #inicio p{
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Botão personalizado */
#inicio button {
    width: 250px;
    height: 50px;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffd700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#inicio button:hover {
    background-color: #927f01;
}

.section:nth-child(even) {
    background-color: #ffffff;
}

/* Quem Somos */
/* Estilos para a seção Quem Somos */
.quem-somos-content {
    background-color: #bcc5ca;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    text-align: justify; /* Alinha o texto à esquerda e justifica a linha */
    margin-top: 20px; /* Adiciona um pouco de espaço superior */
    border-radius: 15px;
}

.quem-somos-content img {
    max-width: 420px;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.texto {
    max-width: 800px; /* Define o tamanho máximo para o texto */
    text-align: justify; /* Justifica o texto */
    line-height: 1.6; /* Aumenta o espaçamento entre as linhas */
}

.texto p {
    font-size: 1.1rem;
    color: #555; /* Cor do texto ajustada para suavizar o contraste */
    margin-bottom: 20px; /* Espaçamento entre os parágrafos */
}

/* Media Query para telas pequenas */
@media (max-width: 768px) {
    .quem-somos-content {
        flex-direction: column; /* Organiza o conteúdo em coluna */
        align-items: center; /* Alinha o conteúdo ao centro */
    }

    .texto {
        text-align: center; /* Alinha o texto ao centro em telas pequenas */
    }

    .quem-somos-content img {
        max-width: 100%; /* Imagem ocupa 100% da largura disponível */
        margin-bottom: 20px; /* Adiciona espaçamento entre a imagem e o texto */
    }
}


/* Estilo da Seção Missão, Visão e Valores */
#missao-visao-valores {
    padding: 60px 20px;
    background-color: #ffffff;
    text-align: center;
}

.mvv-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.mvv-item {
    width: 30%;
    min-width: 250px;
    padding: 20px;
    background-color: #fff;
    border: 5px solid #c9870c;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mvv-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.mvv-item p {
    font-size: 1rem;
    color: #555;
}

/* Media Query para telas pequenas */
@media (max-width: 768px) {
    .mvv-content {
        flex-direction: column;
        align-items: center;
    }

    .mvv-item {
        width: 100%;
    }
}


/* Equipe */
.equipe-content {
    background-color: #c5cccf;
    border-radius: 15px;    
}

.advogado {
    display: inline-block;
    text-align: center;
    margin: 60px;
}

.advogado img {
    width: 190px;
    height: 190 px;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 50;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-content {
    background-color: #ddd;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: black;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ff0000;
    cursor: pointer;
}

.modal.show {
    opacity: 1;
    visibility: visible;
}

/* Áreas de Atuação */

.areas-atuacao {
    background-color: #720000;
}

.areas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.area {
    background-color: #ffffff;
    width: 200px;
    padding: 20px;
    border: 5px solid #c9870c;
    border-radius: 8px;
    text-align: center;
    text-transform: uppercase;
}

.area img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.link-areasAtuacao {
    text-decoration: none;
    color: #333;
}

.link-areasAtuacao:hover {
    background-color: #c9870c;
}

/* Estilo da Seção Consultas */
.consultas-content{
    background-color: #c5cccf;
    padding: 80px 40px;
    max-width: 100%;
    border-radius: 15px;
}


#consultas p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #555;
}

.consultas-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.consultas-actions button {
    width: 250px;
    height: 50px;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffd700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.consultas-actions button:hover {
    background-color: #927f01;
}

/* Media Query para telas menores */
@media (max-width: 768px) {
    .consultas-actions {
        flex-direction: column;
        gap: 10px;
    }
}

/* Rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

/* Media Queries para Responsividade */

/* Ajuste para tablets */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        justify-content: center;
        margin-bottom: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 
    }
}